---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="new-project">
  <div class="flex flex-1 justify-center py-5">
    <div
      class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5"
    >
      <h2
        class="text-white tracking-light text-[28px] font-bold leading-tight px-4 text-center pb-3 pt-5"
      >
        Start a new project
      </h2>
      <form class="flex flex-col w-full max-w-[480px] mx-auto">
        <div class="flex flex-wrap items-end gap-4 px-4 py-3">
          <label class="flex flex-col min-w-40 flex-1">
            <span class="text-white text-base font-medium leading-normal pb-2">
              Project Name
            </span>
            <input
              type="text"
              name="projectName"
              id="projectName"
              placeholder="Enter project name"
              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-transparent focus:border-[#0c77f2] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
              required
            />
          </label>
        </div>
        <div class="flex flex-wrap items-end gap-4 px-4 py-3">
          <label class="flex flex-col min-w-40 flex-1">
            <span class="text-white text-base font-medium leading-normal pb-2">
              Project Description
            </span>
            <textarea
              name="projectDescription"
              id="projectDescription"
              placeholder="Describe your project"
              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-transparent focus:border-[#0c77f2] min-h-36 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
              required></textarea>
          </label>
        </div>
        <div class="flex flex-wrap items-end gap-4 px-4 py-3">
          <label class="flex flex-col min-w-40 flex-1">
            <span class="text-white text-base font-medium leading-normal pb-2">
              Key Objectives
            </span>
            <textarea
              name="keyObjectives"
              id="keyObjectives"
              placeholder="List the main goals of the project"
              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-transparent focus:border-[#0c77f2] min-h-36 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
              required></textarea>
          </label>
        </div>
        <div class="flex px-4 py-3 justify-center">
          <button
            type="submit"
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0c77f2] text-white text-sm font-bold leading-normal tracking-[0.015em] hover:bg-[#0a6bd9] transition-colors"
          >
            <span class="truncate">Create Project</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</MainLayout>
